*{
    borde: 1px solid black;
    font-family: "Roboto", "Sans serif";
    text-decoration:none;
    }
    
    
    
    .choix li:hover,.explorer:hover,.commander:hover,figure:hover,.boutonsmenu:hover{
     transform: scale(1.01);
    }
    
    
    a{
    color:black;
    }
    
    body {
    margin: 0;}
    
    .blockpage{
    width:100%;
    }
    
    .logo{
        display: flex;
        justify-content: center;
        text-align:center;
        padding: 20px 0 10px 0;	
        
    }
    .logoblack {
     width: 45%;
    }
    .grisfonce {
     background-color:#EAEAEA; 
     box-shadow: 0px 3px 3px #CFCFCF inset;						
     padding: 12px 0 12px 0;
     margin-left:-45px;
     font-size:0.8em;
     font-weight: bold;
    }
    
    h1{
    margin: 30px 40px 10px 20px;
    font-size: 1em;
    }
    
    .Ohmyfoods {
    display: flex;
    justify-content: center ;
    }
    
    .Ohmyfoode {
    display: flex;
    justify-content: flex-start;
    }
    
    aside {
    text-align: center
    }
    
    .soustitres h1:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-weight: 100}
    
    .explorer {
        border-radius: 50px;
        background: linear-gradient(to top left,#9356DC, #FF79DA);
        padding: 7px 0 11px 0;
        width: 55%;
        margin: auto;
       box-shadow: 0px 5px 5px 1px silver;
    }
    
    .explorer a{
    color:white;
    font-size:0.8em;
    }
    
    aside div{
    background-color: #f2f2f2;
    }
    
    aside {
    padding-bottom: 45px;
    }
    
    aside{
    background-color: #EFEFEF;
    }
    
    .boutons {
        background: #EFEFEF;
        border-radius: 1rem;
        text-align: left;
        margin:10px;
    counter-increment: etapes;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 20px 0 20px 0;
    margin: 10px 20px 10px 27px;
    
    box-shadow: 0px 5px 5px 1px silver;
    }
    
    .fa, .fas {
     font-weight:900;
     padding-left: 20px;
     padding-right: 20px;
    }
    
    .fa-hands-helping {
     padding-right: 14px;
    }
    
    .boutons:before {
    content: counter(etapes);
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    position: absolute;
    }
    
    .choix {
    counter-reset: etapes;
    padding-left: 0;
    }
    
    .boutons{
    counter-increment: etapes;
    list-style-type: none;
    }
    
    footer{
    background-color: #353535;
    color: white;
    font-size: 0.8em;
    }
    
    .flink1{
    margin: 0 0 0 -40px;
    padding: 0 0 0 0;
    }
    
    .flink2{
    margin: 0 0 0 -40px;
    padding: 0 0 0 0;
    }
    
    .flink3{
    margin: 0 0 0 -22px;
    padding: 0 0 0 0;
    }
    
    .flink4{
    margin: 0 0 0 -22px;
    padding: 0 0 0 0;
    }
    
    
    .logowhite {
    width: 25%
    }
    
    ul{
    list-style: none;
    }
    
    .textgris{
    color:#696969;
    margin:0 0 25px 0;
    }
    
    footer a{
    filter: invert(1);
    margin: 0 0 50px 0;
    padding: 30px 0 0 0;
    }
    
    .f1{
    margin: 0 0 -40px 20px;
    }
    
    .f2{
    margin: 0 0 40px 0;
    }
    
    .f3{
    width:100%;
    height:20px;
    color: #353535;
    }
    
    .figuretitre{
    font-weight: bold
    }
    
    .fondgris{
    background-color: #f2f2f2 ;
    margin: 55px 0 0 0;
    padding: 6px 0 40px 0;
    }
    
     figure img {
        height: 9rem;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
        margin: 0 0 7px 0;
        box-shadow: 0px 5px 5px 1px silver;
    }
    
    figure{
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 17px 17px 15px 17px;
    padding: 0 0 12px 0;
    font-size: 0.8em;
    }
    
    p {
     margin-top: 0px;
     margin-bottom: 5px;
     margin-left: 15px;
     font-size: 0.8em;
     }
    
    .flink4 p:nth-child(1){
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 1em !important;
    }
    
    figcaption {
    padding-left: 10px
    }
    
    .commander {
        text-align:center;
        border-radius: 50px;
        background: linear-gradient(to top left,#9356DC, #FF79DA);
        padding: 5%;
        width: 30%;
        margin: auto;
       box-shadow: 0px 5px 5px 1px silver;
       margin-top: 30px ;
    }
    
    .commander p:nth-child(1) {
    margin: 0;
    }
    .commander p:nth-child(1) a:nth-child(1) {
     color: white;
    }
    
    
    .arrow{
    position: absolute;
      top: 10px;
      left: 0;
      width: 30px;
      height: 20px;
      padding: 10px 0 10px 0;
    }
    
    .backgroundmenu img{
    height: 9rem;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        margin-bottom: -3px;
        position: absolute;
    }
    
    .fondgrismenu{
    background-color: #EFEFEF;
    margin-top:130px;
    border-radius: 1rem 1rem 0 0;
    position: relative;
    padding-bottom: 30px ;
    }
    
    .fondgrismenu .titre {
    font-family: 'Shrikhand', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 15px;
    margin-left: 20px;
    margin-right: 40px;
    }
    
    .boutonsmenu {
        background: white;
        border-radius: 1rem;
        text-align: left;
        margin:10px;
    counter-increment: etapes;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 5px 5px 1px silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
    }
    
    .boutonsmenu p:nth-child(3) {
    font-weight: 700;
    }
    
    h2{
    font-family: 'Roboto', sans-serif;
    margin: 5px 0 5px 15px;
    font-size:1em;
    width: 100%;
    font-weight: 700;
    }
    
    .textgris p{
    font-size: 0.95em;
    }
    
    
    
    