*{
    borde: 1px solid black;
    font-family: "Roboto", "Sans serif";
    text-decoration:none;
    }
    
    
    
    .choix li:hover,.explorer:hover,figure:hover{
     transform: scale(1.01);
    }
    
    a{
    color:black;
    }
    
    body {
    margin: 0;}
    
    .logo{
        display: flex;
        justify-content: center;
    }
    .logoblack {
     width: 50%;
    }
    .grisfonce {
     background-color: silver;
    }
    
    .Ohmyfoods {
    display: flex;
    justify-content: center ;
    box-shadow: 0px 2px 5px 0px gray;
    }
    
    .Ohmyfoode {
    display: flex;
    justify-content: flex-start;
    }
    
    aside {
    text-align: center
    }
    
    .explorer {
        border-radius: 50px;
        background: linear-gradient(to top left,#9356DC, #FF79DA);
        color: white;
        padding: 5%;
        width: 50%;
        margin: auto;
       box-shadow: 0px 5px 5px 1px silver;
    }
    
    }
    .grisfonce{
    background-color: silver;
    }
    
    aside{
    background-color: #EFEFEF;
    }
    
    .boutons {
        background: #EFEFEF;
        border-radius: 1rem;
        text-align: left;
        margin:10px;
    counter-increment: etapes;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 5px 5px 1px silver;
    }
    
    .fa, .fas {
     font-weight:900;
     padding-left: 20px;
     padding-right: 20px;
    }
    
        .boutons:before {
    content: counter(etapes);
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    position: absolute;
    }
    
    .choix {
    counter-reset: etapes;
    padding-left: 0;
    }
    
    .boutons{
    counter-increment: etapes;
    list-style-type: none;
    }
    
    footer{
    background-color: #303030;
    color: white;
    }
    
    .logowhite {
    width: 25%
    }
    
    ul{
    list-style: none;
    }
    
    .textgris{
    color:#696969;
    }
    
    footer a{
    filter: invert(1);
    }
    
    .fondgris{
    background-color: #EFEFEF;
    }
    
     figure img {
        height: 7rem;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    
    figure{
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    }
    
    p {
     margin-top: 0px;
     margin-bottom: 0px;
     }
    
    
    figcaption {
    padding-left: 10px
    }
    
    
    
    